@use "../../../../theme/abstracts/mixins" as *;

.itemDetailsHeader {
  @include flex-center;
}
app-back-icon {
  font-size: 20px;
  margin-right: 10px;
}

app-home-icon,.sync__icon{
  font-size: 20px;
}
