<app-header
  [title]="`${selectedItemType} ${selectedItem[selectedItemType]}`"
  class="itemDetailsHeader"
/>
<ion-content>
  <app-slides
    [selectedLocator]="selectedLocator"
    [subInventories]="subInventoryList"
    [selectedSubInventory]="selectedSubInventory"
    [selectedUom]="selectedUom"
    [items]="selectedItemsList"
    [qtyValue]="qtyValue"
    [startIndex]="index"
    (changeQuantity)="handleEnteredQty($event.value, $event.index)"
    (subInvClick)="handleSubInvClick($event)"
    (locClick)="handleLocClick($event)"
    (slideChange)="handleChangedItem($event)"
    (changeCOO)="handleChangeCOO($event)"
  />
  <app-button class="confirm__button" label="RECEIVE" (buttonClicked)="handleReceiveButtonClick()"/>
</ion-content>
