<ion-header [translucent]="true" class="Docs2ReceiveHeader">
  <app-back-icon (backIconClicked)="handleBackIconClick()" />
  <ion-title>Docs 2 Receive</ion-title>
  <ion-icon name="ellipsis-vertical" button id="left-start"></ion-icon>
  <app-popover (popoverOptionClick)="handlePopoverOptionClick($event)" />
</ion-header>

<ion-content [fullscreen]="true">
  <div class="scanBarContainer">
    <h4 class="heading__doc">Doc# </h4>
    <app-scan-bar
      [matchField]="(selectedFilterOption==='ALL' || selectedFilterOption==='PO') ?
    'PoNumber': selectedFilterOption==='ASN'?
    'ASNNumber':'RMANumber'"
      [docsList]="filteredUniqueDocs"
      (docFound)="handleDocFound($event)"
    />
    <ion-icon name="search" (click)="handleSearchIconClick()" class="search__icon"></ion-icon>
  </div>
  <app-search-bar
    (searchInputChanged)="handleSearchInputChange($event)"
    [searchTxt]="scanSearchText"
    *ngIf="isSearchBarShown"
  />
  <ion-card class="sortOptionCard">
    <div class="option__container">{{selectedSortOption}}</div>
    <ion-icon button *ngIf="isAscOrder" name="arrow-down" (click)="handleArrowClick()"></ion-icon>
    <ion-icon button *ngIf="!isAscOrder" name="arrow-up" (click)="handleArrowClick()"></ion-icon>
  </ion-card>
  <app-refresher (onRefresherEmit)="handleRefresh($event)">
    <ion-grid>
      <app-receipt-purchase-order-item [uniqueDocs]="filteredUniqueDocs" (clickedDoc)="handleDocClick($event)"/>
    </ion-grid>
  </app-refresher>
</ion-content>
