<ion-header [translucent]="true" class="Docs2ReceiveHeader">
  <app-back-icon (backIconClicked)="handleBackIconClick()" />
  <ion-title>Docs 2 Receive</ion-title>
  <ion-icon name="ellipsis-vertical" button id="left-start"></ion-icon>
  <app-popover (popoverOptionClick)="handlePopoverOptionClick($event)" />
</ion-header>

<ion-content [fullscreen]="true">
  <div class="scanBarContainer">
    <h4 class="heading__doc">Doc#</h4>
    <app-scan-bar
      [matchField]="(selectedFilterOption==='ALL' || selectedFilterOption==='PO') ?
    'PoNumber': selectedFilterOption==='ASN'?
    'ASNNumber':'RMANumber'"
      [docsList]="filteredUniqueDocs"
      (docFound)="handleDocFound($event)"
    />
    </div>
  <app-search-bar
    (searchInputChanged)="handleSearchInputChange($event)"
    [searchTxt]="scanSearchText"
  />
  <app-refresher (onRefresherEmit)="handleRefresh($event)">
    <ion-grid>
      <app-receipt-purchase-order-item [uniqueDocs]="filteredUniqueDocs" />
    </ion-grid>
  </app-refresher>
</ion-content>
