<ion-header [translucent]="true" class="Docs2ReceiveHeader">
  <app-back-icon (backIconClicked)="handleBackIconClick()" />
  <ion-title>Docs 2 Receive</ion-title>
  <ion-icon name="ellipsis-vertical" button id="left-start"></ion-icon>
  <app-popover (popoverOptionClick)="handlePopoverOptionClick($event)" />
</ion-header>

<ion-content [fullscreen]="true">
  <app-refresher (onRefresherEmit)="handleRefresh($event)">
    <ion-row>
      <app-receipt-purchase-order-item [uniqueDocs]="filteredUniqueDocs"/>
    </ion-row>
  </app-refresher>
</ion-content>
