<ion-grid>
  <ion-row
    ><ion-col size="6" *ngFor="let responsibility of responsibilitiesList">
      <ion-card
        class="status-card"
        button
        (click)="handleClickResponsibility(responsibility.name)"
      >
        <ion-card-header>
          <h3>{{ responsibility.name }}</h3>
          <span *ngIf="responsibility.name === 'Goods Receipt'"
            >{{ openDocs }} Open Docs</span
          >
        </ion-card-header>
        <ion-card-content>
          <div class="circle-container">
            <ion-icon
              [name]="responsibility.iconName"
              class="responsibity_icon"
            />
          </div>
          <span
            class="completed-text"
            *ngIf="responsibility.name === 'Goods Receipt'"
            >{{ completedDocs }} Completed</span
          >
        </ion-card-content>
      </ion-card>
    </ion-col></ion-row
  >
</ion-grid>
