<ion-grid>
  <ion-row
    ><ion-col size="6" *ngFor="let responsibility of responsibilitiesList">
      <ion-card
        class="status-card"
        button
        (click)="handleClickResponsibility(responsibility.name)"
      >
        <ion-card-header>
          <h3>{{ responsibility.name }}</h3>
          <span>{{ openDocs }} Open Docs</span>
        </ion-card-header>
        <ion-card-content>
          <div class="circle-container">
            <div class="circle">
              <span>{{ percent }}%</span>
            </div>
          </div>
          <span class="completed-text">{{ completedDocs }} Completed</span>
        </ion-card-content>
      </ion-card>
    </ion-col></ion-row
  >
</ion-grid>
