// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$primary-color: #3880ff;
$secondary-color: #0cd1e8;
$margin-right:10px;
$main-color:#08668d;
$white-color:#ffffff;
$color-light-blue:#f3f9ff;