@use "../../../theme/abstracts/variables" as *;
@use "../../../theme/abstracts/mixins" as *;

.activityHeader {
  text-align: center;
  background-color: $main-color;
  --background: $main-color;
  color: #ffffff;
  padding: 20px;
  div {
    display: flex;
    ion-title {
      font-weight: bold;
    }
    ion-icon{
        font-size: 25px;
    }
  }
}
