@use '../../../theme/abstracts/mixins' as *;

.virtualScroll{
    height: 100vh;
    display: block;
    overflow: auto;
}

ion-card{
    padding: 10px;
    display: flex; 
}

.iconSpinnerContainer{
    @include flex-center;
    width: 40px;
}
ion-icon{
    font-size: 25px;
}
