<cdk-virtual-scroll-viewport itemSize="auto" class="virtualScroll">
  <ng-container
    *cdkVirtualFor="
      let apiStatus of apiStatusList;
      trackBy: trackByResponsibility
    "
  >
    <ion-card
      *ngIf="apiUserResponsibilties.includes(apiStatus.responsibility)"
      [@slideInRight]
    >
      <div class="iconSpinnerContainer">
        <ion-spinner
          name="circles"
          *ngIf="
            apiStatus.apiStatus === 'initial' ||
            apiStatus.apiStatus === 'pending'
          "
        ></ion-spinner>
        <ion-icon
          *ngIf="
            apiStatus.apiStatus === 'success' ||
            apiStatus.apiStatus === 'failed'
          "
          [name]="
            apiStatus.apiStatus === 'success'
              ? 'checkmark-circle'
              : 'close-circle'
          "
          [color]="apiStatus.apiStatus === 'success' ? 'success' : 'danger'"
        ></ion-icon>
      </div>
      <p>{{ apiStatus.message }}</p>
    </ion-card>
  </ng-container>
</cdk-virtual-scroll-viewport>
