@use "../../theme/abstracts/variables" as *;
@use "../../theme/abstracts/mixins" as *;

.HomeHeader {
  text-align: center;
  background-color: $main-color;
  --background: $main-color;
  color: #ffffff;
  padding: 20px;
  @include flex-center;
}

ion-icon{
  margin-right: 10px;
  font-size: 25px;
}

.HomeHeader__ordcode{
  font-weight: bold;
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
